<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets/img/2.jpg" class="img-fluid rounded-circle" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Services we provide:</h5>
          <p class="card-text">We are 4Geek students and we provide the following services...</p>
          <p>- Javascript development, Updating and renovating sites, Building in functionality and responsiveness, and Creating the architecture and content of a site</p>
        </div>
      </div>
    </div>
  </div>  
</div></div><p>Hello, Frank's Section</p>
<p>Hello, I'm the services section and I was loaded using ajax from templates/services.html</p>
